{% extends 'base.html.twig' %}



{% block body %}
    {% include '/layouts/site/head.html.twig' %}
    {% include '/layouts/site/header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                Buna
            </div>
        </div>
    </div>
    {% include '/layouts/site/footer.html.twig' %}
{% endblock body %}
